<section id="miniCart" data-section="mini-cart">
  <script type="application/json" data-section-data>
    {
       "title": "{{section.settings.title}}"
    }
  </script>
</section>
{% schema %}
  {
    "name": "Mini Cart",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Title"
      }
    ]
  }
{% endschema %}